/* body initialization and font set */
body{
    font-family: "Poppins";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}
/*  header background color */
header{
    background: #264653;
color: #FFFFFF;

}
/*  set the button color */
header button{
    background: #E76F51;

}

.hero-para{
    color: #E0E0E0;

}
/* set the button text color */
button{
    color: white;
}

/*  change the color of heading */
.heading-text{
    color: #E76F51;
}

/* for filter effect on picture */
.grayscale{
    filter: grayscale(100%);
  }

