body{
    font-family: "Poppins";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background: #264653;
color: #FFFFFF;
;
}
header button{
    background: #E76F51;

}
button{
    color: white;
}

.heading-text{
    color: #E76F51;

}
.icon{
    color: turquoise;
}
.icon-text{
    transition: 2s ease-out;
}
.icon-text:hover{
color: white;
background-color: black;
}
.scroll{
    position: relative;
    overflow-y: scroll;
    height: 450px;
}



 

  .icon span{
      font-size: 1.4rem;
      border: 1px solid blue;
      color: blue;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      padding: 7px;
      margin: 10px;
  }
  .cont-icon span{
    font-size: 1.8rem;
    padding: 8px;
    
    color: blue;
}
.cont-btn input{
    color: white;
}

.grayscale{
    filter: grayscale(100%);
  }

  .card-img1{
    width: 70px;
    height: 70px;
    background-color: orangered;
    color: #e5eef7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position:relative ;
    left: 80px;
    bottom: 50px;
  
    
   
}

.card-body{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:  relative;
}
/******* ======media query ======*******/
/* @media (max-width:600px){
    .social, .inbox, .counter-text{
        margin-bottom: 2.5rem;
    }
} */